/vendor/
/UA-Nodeset/
.env
.env.local

composer.lock

.phpunit.cache/
.phpunit.result.cache

.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
.buildpath
nbproject/

coverage/

.php-cs-fixer.cache

.DS_Store
Thumbs.db
